absl-py
astor
backcall
beautifulsoup4
bleach
bs4
certifi
chardet
cycler
decorator
defusedxml
entrypoints
gast
grpcio
h5py
imageio
int-date
ipykernel
ipython
ipython-genutils
ipywidgets
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
lxml
Markdown
MarkupSafe
matplotlib
mglearn
mistune
nbconvert
nbformat
nltk
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
requests
scikit-learn
scipy
Send2Trash
singledispatch
six
sklearn
stockstats
termcolor
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
